*.pyc
*.zip
*.tar
*.tar.gz
*.pkl
*.bck
*.bck2
*.csv
*.ipynb_checkpoints*
autonomous-robotics/homeworks/scenes/
ML/assignment1/datasets/
ML/assignment3/datasets/
*.idea*
husky_slam/husky_bags/
computer-vision/Computer_Vision/
Outdoor-SLAM-GTL2018/
